*.0
coverage
test/pdf/*.pdf
test/font/CalligrapherRegular.json
test/font/CalligrapherRegular.z
test/font/Ubuntu-*
look
makefont/makefont
open
**/*.out
pdf/*.pdf
pdf.txt
private
*.sublime*
*.swp
**/*.test
.idea/
# macOS
.DS_Store